body {
  font-family: "Dancing Script", cursive !important;
  background-color: #ffcb8b !important;
}
h1 {
  font-weight: 800 !important;
  font-size: 100px !important;
}
p {
  font-size: 40px !important;
}
.croissants-wrapper {
  max-width: 800px !important;
  margin: 30px auto;
  color: #270f0a;
  background-color: #eebc85;
}
.navbar-brand {
  font-size: 30px !important;
}
.nav-item {
  font-size: 30px !important;
}
@media (max-width: 560px) {
  h1 {
    font-size: 40px !important;
  }
  p {
    font-size: 20px !important;
  }

  .navbar-brand {
    font-size: 15px !important;
  }
  .nav-item {
    font-size: 15px !important;
  }
}
